<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <title>Blog</title>
</head>

<style type="text/css">
  .nav-wrapper {
      background: linear-gradient(90deg, rgba(255, 153, 51, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(19, 136, 8, 1) 100%);
      font-size: medium;
  }

  body {
      font: 400 15px Lato, sans-serif;
      line-height: 1.8;
      color: #818181;
      height: 100%;
      background-color: #f1f1f1;
  }
  .box {
        padding: 100px 100px 100px 100px;
        max-width: 700px;
        margin: 50px auto;
        background: white;
        border-radius: 5px;
        box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.3);
      }
  .navbar {
      margin-bottom: 0;

      z-index: 9999;
      border: 0;
      font-size: 20px;
      line-height: 1.42857143 !important;
      letter-spacing: 4px;
      border-radius: 0;
      font-family: Montserrat, sans-serif;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  }

  .navbar li a,
  .navbar .navbar-brand {
      color: #fff !important;
      font-size: 12px;
  }

  .navbar-brand {
      font-weight: bold;
      font-size: 16px !important;
  }

  .navbar-nav li a:hover,
  .navbar-nav li.active a {
      color: #f4511e !important;
      background-color: #fff !important;
  }

  .navbar-default .navbar-toggle {
      border-color: transparent;
      color: #fff !important;
  }

  #feed,
  #over {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      width: 100%;
      margin-top: 20px;
      margin-bottom: 10px;
      padding: 30px;
      border-radius: 15px;
      background-color: white;
  }

  #over,
  #sympt,
  #preve,
  #treat {
      text-align: justify;
      text-justify: inter-word;
  }
  table {
border-collapse: collapse;
border-spacing: 0;
width: 100%;
border: 1px solid #ddd;
}

th, td {
text-align: left;
padding: 8px;
}

form input[type="submit"]
{
border-radius: 6px;

background-color: #000000;
color: #eee;
font-weight: bold;
/* margin-bottom: 2em; */
text-transform: uppercase;
padding: 10px;

margin:20px;

}
#myInput {
background-image: url('/css/searchicon.png');
background-position: 10px 10px;
background-repeat: no-repeat;
width: 100%;
font-size: 16px;
padding: 12px 20px 12px 40px;
border: 1px solid #ddd;
margin-bottom: 12px;
}
  h2 {
      font-size: 26px;
      text-transform: uppercase;
      color: #303030;
      font-weight: 600;
      margin-bottom: 30px;
  }

  h1 {
      font-size: 36px;
      text-transform: uppercase;
      color: #303030;
      font-weight: 600;
      margin-bottom: 30px;
  }

  h4 {
      font-size: 22px;
      line-height: 1.375em;
      color: #303030;
      font-weight: 400;
      margin-bottom: 30px;
  }


  .iframe-container {
      position: relative;
      width: 150%;
      padding-bottom: 56.25%;
      height: 0;


  }

  .iframe-container iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 150%;
      height: 100%;
  }
</style>


<body id="myPage" style="background-color: #f1f1f1;" data-spy="scroll" data-target=".navbar" data-offset="60">
  <div class="text-secondary bg-white">
      <marquee direction="left">
          <font color="black"><b>CURRENT UPDATES: </b></b></font>
      </marquee>
  </div>
  <nav>
      <div class="nav-wrapper">
          <a href="https://static.googleusercontent.com/media/safety.google/en//static/securitytips-covid19/COVID19-Security-Tips-Google-Safety-Center-en-in.pdf?cache=0aebbf1
      " class="brand-logo center"><span class="light-blue-text text-darken-4">
                  <font color="black" size="10" "><center><b> &nbsp;C<img src="
                      https://img.icons8.com/color/40/000000/coronavirus.png" />
                  </font>
                  <font color="black" size="10" ">VID-19 India
                          Tracker</b></center>
                          </font>
                      </span></a>
              </div>
          </nav>
      
          <nav class=" navbar navbar-dark bg-dark navbar-expand-sm">
                      <div class="container">

                          <button class="navbar-toggler" type="button" data-toggle="collapse"
                              data-target="#navbar-list-2" aria-controls="navbarNav" aria-expanded="false"
                              aria-label="Toggle navigation">
                              <span class="navbar-toggler-icon"></span>
                          </button>
                          <div class="collapse navbar-collapse" id="navbar-list-2">
                              <ul class="navbar-nav">
                                  <li class="nav-item ">
                                      <a class="nav-link" href="/"><b>HOME</b></a>
                                  </li>

                                  <li class="nav-item">
                                      <a class="nav-link" href="/statewise"><b>STATEWISE(INDIA)</b></a>
                                  </li>

                                  <li class="nav-item">
                                      <a class="nav-link" href="/news"><b>NEWS</b></a>
                                  </li>
                                  <li class="nav-item">
                                      <a class="nav-link" href="/country"><b>WORLD UPDATES</b></a>
                                  </li>
                                  
                                  <li class="nav-item">
                                      <a class="nav-link" href="/hospital"><b>HOSPITAL</b></a>
                                  </li>
                                  <li class="nav-item">
                                      <a class="nav-link" href="/emergency"><b>HELPLINE</b></a>
                                  </li>
                                  <li class="nav-item">
                                    <a class="nav-link" href="/travelguidelines"><b>TRAVEL</b></a>
                                  </li>
                                  <li class="nav-item">
                                      <a class="nav-link" href="/articlehome"><b>BLOG</b></a>
                                  </li>
                                  <li class="nav-item">
                                      <a class="nav-link" href="/signupnews"><b>NEWSLETTER</b></a>
                                  </li>
                                  
                              </ul>
                          </div>
                      </div>
  </nav>
  <br><br>
  <div class="container">
    <h1 class="mb-4">New Article</h1>

    <form action="/articles" method="POST">
      <%- include('_form_fields') %>
    </form>
  </div>
  <footer class="container-fluid text-center">
    <br>
    <br>
    <a href="#myPage" title="To Top">
        <i class="fa fa-sort-asc" style="font-size:36px;color:black"></i>
    </a>
    <br>
    <br>
    <div class="row footer-bar" style="background-color:#343a40!important;padding:10px; vertical-align: middle;">
        <br>
        <div class="col-sm-6" style="border-right:1px solid white;">
            <p style=" vertical-align: middle;">
                <font color="white">QUICK LINKS</font>
            </p>
        </div>
        <div class="col-sm-6">

            <a href="/" data-color-scheme="no-preference: dark; light: light; dark: dark;">Home</a>

            &nbsp; | &nbsp;
            <a href="/statewise" data-color-scheme="no-preference: dark; light: light; dark: dark;">State Wise </a>

            &nbsp; | &nbsp;
            <a href="/country" data-color-scheme="no-preference: dark; light: light; dark: dark;">Country Wise</a>
        </div>
</footer>
</body>
</html>